@use '../../styles/mixins' as m;

.headerwrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;

  .logocontainer {
    display: flex;
    align-items: center;
  }

  .button__container {
    display: flex;
    gap: 10px;

    button {
      background: #ffffff;
      @include m.button;
      border: 1px solid #dadada;
    }
  }
}

@media (max-width: 768px) {
  .headerwrapper {
    .button__container {
      display: none;
    }
  }
}